*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: rgb(16, 73, 17);

}

.navbar-brand{
    color: white !important;
}

.navbar-brand img{
    height: 40px;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: yellow !important;
}

h2 {
    text-align: center;
    background-color: greenyellow;
    padding: 20px;
    font-weight: bold;
    margin: 0; 
}

.pright{
    background-image: url(../imagenes/fideos.jpg);
    height: 250px;
    background-size: cover;
    background-position: center;
}
.pleft{
    padding: 20px;
    
}

.sobreNosotros{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.jumbotron{
    background-color: rgb(47, 255, 109) !important;
    height: 200px;
    font-weight: bold;
    border-bottom: 0;    
}



.d-block{
    width: 100%;
    max-height: 500px;
    position: relative;
    overflow: hidden;
}

.contenedorImagen{
    border: 2px solid black; /* Grosor y color del borde */
        padding: 15px;
    max-width: 100%;
    height: auto;

}
.contenedorImagen img.correctorAltura{
    height:200px;
    object-fit: cover;
    width: 416px;
}

.col-md-4 {
    margin-bottom: 20px; /* Puedes ajustar este valor según tu preferencia */
}

.contenedorVideo {
    border: 2px solid black;
    padding: 15px;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.contenedorVideo video {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/*inicio css del footer*/
footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

footer p {
    margin-bottom: 20px;
}
footer .redes a{
    text-decoration: none;
    
}
footer .redes i{
    color: rgb(122, 214, 149);
    font-size: 40px;
    letter-spacing: 10px;

}
footer .redes i:hover{
    color:rgb(16, 73, 17);
}
/*fin css del footer*/